################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eCommerce.Mobile/eCommerce.Mobile/eCommerce.Mobile/bin/Debug/netstandard2.0
